<div class="new-password-container">
    <div class="minimal-card">
      <h2 class="text-center mb-4">Reset Password</h2>
      <form (ngSubmit)="resetPassword()" #newPasswordForm="ngForm">
        
        <div class="form-group mb-3 position-relative">
          <input
            [type]="showPassword ? 'text' : 'password'"
            id="newPassword"
            class="form-control"
            placeholder="New Password"
            [(ngModel)]="newPassword"
            name="newPassword"
            #newPasswordInput="ngModel"
            required
            minlength="6"
          />
          <span class="toggle-password" (click)="togglePasswordVisibility()">
            <i [class]="showPassword ? 'fas fa-eye-slash' : 'fas fa-eye'"></i>
          </span>
          <div class="error-messages">
            <small *ngIf="newPasswordInput.errors?.['required']" class="text-danger">
              New password is required
            </small>
            <small *ngIf="newPasswordInput.errors?.['minlength']" class="text-danger">
              New password must be at least 6 characters long
            </small>
          </div>
        </div>
  
        <div class="form-group mb-3 position-relative">
          <input
            [type]="showPassword ? 'text' : 'password'"
            id="confirmPassword"
            class="form-control"
            placeholder="Confirm Password"
            [(ngModel)]="confirmPassword"
            name="confirmPassword"
            #confirmPasswordInput="ngModel"
            required
            minlength="6"
          />
          <span class="toggle-password" (click)="togglePasswordVisibility()">
            <i [class]="showPassword ? 'fas fa-eye-slash' : 'fas fa-eye'"></i>
          </span>
          <div class="error-messages">
            <small *ngIf="confirmPasswordInput.errors?.['required']" class="text-danger">
              Confirmation password is required
            </small>
            <small *ngIf="confirmPasswordInput.errors?.['minlength']" class="text-danger">
              Confirmation password must be at least 6 characters long
            </small>
            <small *ngIf="newPassword !== confirmPassword" class="text-danger">
              Passwords do not match
            </small>
          </div>
        </div>
  
        <button
          type="submit"
          class="btn-submit"
          [disabled]="newPasswordForm.invalid || newPassword !== confirmPassword"
        >
          Reset Password
        </button>
      </form>
    </div>
  </div>
  