.new-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f9fa;
}

.minimal-card {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

h2.text-center {
  color: #343a40;
}

.form-group {
  margin-bottom: 1rem;
}

.form-control {
  border-radius: 4px;
  border: 1px solid #ced4da;
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
}

.form-control:focus {
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.25);
}

.text-danger {
  color: #dc3545;
  font-size: 0.875rem;
}

.btn-submit {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 0.75rem 1.25rem;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-submit:hover {
  background-color: #0056b3;
}

a {
  color: #007bff;
  text-decoration: none;
  font-size: 0.875rem;
}

a:hover {
  text-decoration: underline;
}

.error-message {
  color: #dc3545;
  font-size: 0.875rem;
}

.position-relative {
  position: relative;
}

.toggle-password {
  position: absolute;
  top: 40%;
  left: 234px;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 2;
}

.form-control {
  padding-right: 40px;
}

.error-messages {
  margin-top: 5px;
}

.error-messages small {
  display: block;
  margin-top: 5px;
}

.toggle-password i {
  font-size: 18px;
  color: #000;
}
