/* sidebar.component.css */

/* Importing Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background: #F0F4FF;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 120px; /* Augmenter la largeur de la barre latérale */
  display: flex;
  flex-direction: column;
  background: #0c0c0c;
  padding: 25px 20px;
  transition: width 0.4s ease;
}

.sidebar:hover {
  width: 280px; /* Augmenter la largeur en survolant */
}

.profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  margin-bottom: 20px;
}

.profile-picture {
  width: 100px; /* Agrandir l'image de profil */
  height: 100px; /* Agrandir l'image de profil */
  border-radius: 50%;
  border: 2px solid #fff;
  margin-bottom: 10px; /* Espacement entre l'image et le nom */
}

.profile-details {
  text-align: center; /* Centrer le texte du nom */
}

.profile-name {
  font-size: 1.25rem; /* Agrandir le nom d'utilisateur */
  font-weight: 600;
  color: #fff;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-bottom: 15px;
}

ul li a {
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  padding: 10px;
  border-radius: 4px;
  transition: background 0.3s, color 0.3s;
}

ul li a.active,
ul li a:hover {
  background: #fff;
  color: #161a2d;
}

.logout-button {
  margin-top: auto;
  padding: 10px;
  width: 100%;
  border: none;
  background: #e74c3c;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  border-radius: 4px;
  transition: background 0.3s;
}

.logout-button:hover {
  background: #c0392b;
}
