<!-- sidebar.component.html -->
<nav class="sidebar">
    <div class="profile-info">
        <img [src]="profilePictureUrl" alt="Profile Picture" class="profile-picture" />
        <div class="profile-details">
            <p class="profile-name">{{ user?.username }}</p>
        </div>
    </div>
    <ul>
        <li><a routerLink="/customer/home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/customer/update-profile" routerLinkActive="active">Profile</a></li>
        <li><a routerLink="/customer/purchase" routerLinkActive="active">Purchases</a></li>
    </ul>
    <button class="logout-button" (click)="logout()">Logout</button>
</nav>
